@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
.currency-rate__row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0px 2px;
}

.currency-rate__row div {
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  margin: 5px 0px;
}

.currency-rate__row:hover {
  background-color: #c6d7eb;
}

.currency-rate__num-code {
  text-align: left;
  width: 60px;
}

.currency-rate__char-code {
  text-align: center;
  width: 60px;
}

.currency-rate__nominal {
  text-align: center;
  width: 50PX;
}

.currency-rate__name {
  text-decoration: none;
  color: black;
  text-align: center;
  width: 380px;
}

.currency-rate__rate {
  cursor: pointer;
  text-align: right;
  width: 70px;
}

.currency-rate__row_hover {
  transition: 0.2s;
  background-color: #d3e6ff;
}

.currency-rate__row_increased .currency-rate__rate {
  color: #07c207;
}

.currency-rate__row_fell .currency-rate__rate {
  color: #ff2400;
}
