@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');


.error-message {
  padding: 5px;
  margin-bottom: 10px;
  text-align: center;
  border: 1px solid black;
  border-radius: 15px;
  width: 170px;
  
  &__text {
    font-family: 'Ubuntu', sans-serif;
    font-size: 17px;
    margin-bottom: 10px;
  }

  img {
    width: 70px;
    height: 70px;
  }
}