@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

.currency-converter-title {
  margin-bottom: 40px;
  font-family: 'Open Sans', sans-serif;

  &__title {
    display: flex;
    align-items: center;
    margin-bottom: 8px;

    h1 {
      font-size: 24px;
      margin-right: 8px;
    }

    svg {
      font-size: 18px;
      height: 2em;
      width: 2em;
    }
  }

  &__note {
    font-size: 18px;
    opacity: 0.7;
  }
}