@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
.currency-convertsion-result {
  font-family: 'Open Sans', sans-serif;
}

.currency-convertsion-result__result-title {
  margin-bottom: 10px;
}

.result-title {
  font-size: 24px;
  font-weight: 600;
}

.result {
  min-width: 250px;
  display: flex;
  align-items: flex-end;
  font-size: 20px;
}

.result span {
  margin-right: 10px;
}

.result__number {
  font-weight: 600;
  font-size: 22px;
}

.result__separator {
  font-size: 16px;
  opacity: 0.5;
}
